body{
    margin-left: 17em;
    margin-right: 17em;
    min-width: 1000px;
    background: var(--primary-color);
}
.t1{
    float: right;
    font-weight: 1000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-right: 10em;
}
.q1{
    text-decoration: none;
    margin-left: 1em;
    color: var(--secondary-color);
}
.q2{
    text-decoration: none;
    margin-left: 1em;
    color: var(--secondary-color);
}
.q3{
    text-decoration: none;
    margin-left: 1em;
    color: var(--secondary-color);
}
.q4{
    text-decoration: none;
    margin-left: 1em;
    color: var(--secondary-color);
}
h1{
    padding-top: 1.7em;
    font-size: 53px; 
    font-weight: 2000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--secondary-color);
}
.f1{
    font-weight: 1500;
    color: var(--secondary-color);
}
h2{
    margin-top: -1.2em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 1500;
    color: var(--secondary-color);
}
h3{
    font-size: 25px;
    margin-top: -0.9em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
}
h4{
    font-size: 20px;
    margin-top: -1.2em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
}
.f2{
    background-color: blueviolet;
    padding: 1em;
    border: none;
    border-radius: 4px;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: var(--secondary-color);
}
img{
    float: right;
    width: 350px;
    height: 350px;
    margin-top: -14em;
    margin-right: 5em;
}
.spam{
    font-family: 'Montserrat', sans-serif; 
    color: var(--secondary-color);
}
.g1{
    text-decoration: none;
    font-weight: 1000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
}
#g2{
    text-decoration: none;
    font-weight: 1000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
}  
:root{
    --primary-color: #edf2fc;
    --secondary-color:#212121;
}
.dark-theme{
    --primary-color:#0f0f11;
    --secondary-color:#fff;
}