body{
    margin-left: 17em;
    margin-right: 17em;
    min-width: 1000px;
}
.t1{
    float: right;
    font-weight: 1000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-right: 10em;
}
.q1{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
.q2{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
.q3{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
.q4{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
h1{
    padding-top: 1.7em;
    font-size: 53px; 
    font-weight: 2000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.f1{
    font-weight: 1500;
}
h2{
    margin-top: -1.2em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 1500;
}
h3{
    font-size: 25px;
    margin-top: -0.9em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h4{
    font-size: 20px;
    margin-top: -1.2em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.f2{
    background-color: blueviolet;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 4px;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
img{
    float: right;
    width: 350px;
    height: 350px;
    margin-top: -14em;
    margin-right: 5em;
}
.spam{
    color:black;
    font-family: 'Montserrat', sans-serif; ;
}