body{
    margin-left: 17em;
    margin-right: 17em;
    min-width: 1200px;
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
    background-color:#edf2fc ;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    margin-left: -5em;
}
h2{
    text-align: center;
    font-size: 30px;
    margin-left: -5em;
}
.e1{
    float: right;
    font-weight: 1000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: -2.7em;
    margin-right: 1em;
}
.e2{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
.e3{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
.e4{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
.e5{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
.top_img{
    height: 150px;
    width: 150px;
    margin-top: 3em;
    margin-left: 26em;
    margin-right: 30em;
    text-align: center;
}
.searchbar{
    width: 100%;
    max-width: 300px;
    display: inline-flex;
    width: 50em;
    margin-left: 24em;
}
.searchbar__input{
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid blueviolet;
    border-radius: 5px 0 0 5px;
    background:rgb(241, 234, 247) ;
    transition: background 0.25s, box-shadow 0.25s;
}
.searchbar__input:focus{
    background: white;
    box-shadow: 0 0 2px rgb(174, 122, 223); 
}
.searchbar__input::placeholder{
    color: rgb(174, 122, 223);
}
.searchbar__button{
    width: 40px;
    color: white;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:0 5px 5px 0 ;
    cursor: pointer;
    user-select: none;
}
.searchbar__button:active{
    box-shadow: inset 0 0 30px rgba(0, 0 , 0 , 0.25);
}
